<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Définition d'un appender pour la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{requestInfo}] %-5level- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuration du niveau de log et des appenders -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>